@model IEnumerable<PNS_Prototype.Models.Order>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PackingSlip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PackingSlip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Start Picking", "Picking", new { id=item.Id })
        </td>
    </tr>
}

</table>
